<h1>Chat</h1>
<p>You are logged in as: {{userName}}</p>
<a href="/home">Home</a>
<br><br>

<table>
	<tr>
		<th>User</th>
		<th>Message</th>
	</tr>
	{{#each messages}}
	<tr>
		<td>{{this.user}}</td>
		<td>{{this.message}}</td>
	</tr>
	{{/each}}
</table>

<br><br><br>
<form id="chatForm" action="/chat" method="post">
	<input type="text" name="message" size="50" />
	<input type="submit" value="Send" name="send" />
	<span class="whiteText">or</span>
	<input type="submit" value="Random Quote" name="quote" />
</form>
